{% extends "layout.html" %}
{% block content %}

<body>
    <div class="login">
        <h1>Predicción del precio de la leche</h1>
        <form method="POST" action="{{ url_for('insert_data')}}" enctype="multipart/form-data">
            <dl>
                <p><input type="file" name="files[]" multiple="true" autocomplete="off" required></p>
            </dl>
            <button type="submit" class="btn btn-primary btn-large">Cargar Datos</button>
        </form>
        <hr>
        <form method="POST" action="{{ url_for('predict')}}" enctype="multipart/form-data">
            <input type="text" name="dates" class="form-control" placeholder="Fecha. e.g. '2020-01', '2020-01 2020-04'"
                aria-label="dates" aria-describedby="basic-addon1">
            <br>
            <button type="submit" class="btn btn-primary btn-large">Predecir</button>
        </form>
        <br>
        <br>
        {% if table_name %}
        <b>Predicciones</b>
        {% endif %}
        <table>
            <tr>
                {% for col in column_names %}
                <th>{{col}}</th>
                {% endfor %}
            </tr>
            {% for row in row_data %}
            <tr>
                {% for col, row_ in zip(column_names, row) %}
                {% if col == link_column %}
                <td>
                    <button type="submit" value={{ row_ }} name="person_id" form="price_form" class="price_button">
                        {{ row_ }}
                    </button>
                </td>
                {% else %}
                <td>{{row_}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

        </table>

    </div>
</body>
{% endblock content %}